<app-faculty-menu></app-faculty-menu>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add student</title>
</head>
<body>
  <div class="add-user-wrapper">
    <div class="container">
      <h2 class="form-title text-center">Update student</h2>

      <form>

        <div class="mb-3">
          <label for="subjectName" class="form-label">Student Name</label>
          <input type="text" class="form-control" id="subjectName" name="subjectName" [(ngModel)]="student.name" readonly>
        </div>

        <div class="mb-3">
          <label for="subjectEmail" class="form-label">Student Email</label>
          <input type="text" class="form-control" id="subjectEmail" name="subjectEmail" [(ngModel)]="student.email" >
        </div>

        <div class="text-center">
          <button type="submit" (click)="updateStudent()" class="btn btn-primary w-100">Update Subject</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>

