<app-admin-menu></app-admin-menu>

<div class="all-subject-container">
  <h2 class="title">All Subjects</h2>

  <div class="table-wrapper">
    <table class="custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let subject of subjectList">
          <td>{{ subject.id }}</td>
          <td>{{ subject.name }}</td>
          <td>
            <a class="btn edit-btn" [routerLink]="['/edit-subject', subject.id]">Edit</a>
            <button class="btn delete-btn" (click)="deleteSubject(subject.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
